.driving__main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
}
.driving__heading{
    text-align: center;
    color: #1F3255;
    font-weight: 700;
    font-size: 33px;
    line-height: 38px;
}
.driving__text_box {
    color: #000000;
    font-weight: 400;
    margin-top: -15px;
    /* margin-top: -25px; */
    text-align: center;
}

.driving__btn {
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #25679C;
    background-color: white;
    font-weight: 700;
    color: #25679C;
    cursor: pointer;
}

@media screen and (max-width:645px) {
    .driving__main_div {
        padding: 0 15px;
    }
    .driving__heading {
        font-size: 30px;
    }





/*____________------------ correct this code------------__________ */


    .driving__text_box p {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
}